.generic{
    background-color: gray;
    width: 100%;
    height: auto;
    font-size: 120px;
    padding-bottom: 5rem;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 2rem;
}