.unorder_list{
    background-color: #7EA1FF;
    display: grid;
    place-items: center;
}

ul{
    list-style: none;    
}

.btn_add_to__cart{
    background-color: #B3C8CF;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}